h1 {
    font-size: x-large;
}

.sudoku-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    border: 4px solid black;
    padding: 0px;
    margin: 0;
    height: fit-content;
    width: fit-content;
}

.sudoku-block {
    display: grid;
    grid-template-columns: auto auto auto;
}

.sudoku-block-middle-row {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.sudoku-block-middle-col {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.sudoku-cell {
    padding: 20px;
}

.sudoku-cell.hidden {
    background-color: 2196F3;
    color: #2196F3;
}

.sudoku-cell.selected {
    background-color: limegreen;
    color: black;
}

.sudoku-cell.selected.hidden {
    background-color: limegreen;
    color: limegreen;
}

.sudoku-cell.error {
    background-color: red;
}

.sudoku-cell.naked-single,.sudoku-cell.hidden-single {
    background-color: aqua;
}

.sudoku-cell-middle-row {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.sudoku-cell-middle-col {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

p {
    margin: 0;
  font-size: medium;
}